<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Data" connectionString="Data Source=(localdb)\MSSQLLocalDB;Database=SQLDataAccess;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>